<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.delycomps.rintisa">

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="vnd.android.cursor.dir/email" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CALL" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.delycomps.rintisa.PromoterSupervisorActivity"
            android:exported="false"
            android:label="@string/title_activity_promoter_supervisor"
            android:parentActivityName="com.delycomps.rintisa.SupervisorActivity" />
        <activity
            android:name="com.delycomps.rintisa.MerchantSupervisorActivity"
            android:exported="false"
            android:label="@string/title_activity_merchant_supervisor"
            android:parentActivityName="com.delycomps.rintisa.SupervisorActivity" />
        <activity
            android:name="com.delycomps.rintisa.AuditorDetailActivity"
            android:exported="false"
            android:label="Detalle de auditor"
            android:parentActivityName="com.delycomps.rintisa.AuditorActivity" />
        <activity
            android:name="com.delycomps.rintisa.SupervisorActivity"
            android:exported="false" />
        <activity
            android:name="com.delycomps.rintisa.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.delycomps.rintisa.AuditorActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.delycomps.rintisa.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.delycomps.rintisa.PromoterActivity"
            android:exported="true"
            android:label="@string/title_activity_promoter"
            android:parentActivityName="com.delycomps.rintisa.MainActivity" />
        <activity
            android:name="com.delycomps.rintisa.MerchantActivity"
            android:exported="false"
            android:label="@string/title_activity_client_detail"
            android:screenOrientation="portrait"
            android:parentActivityName="com.delycomps.rintisa.MainActivity" />
        <activity
            android:name="com.delycomps.rintisa.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.delycomps.rintisa.MainActivity"
            android:exported="false"
            android:label="Puntos de venta" />
        <activity
            android:name="com.delycomps.rintisa.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.delycomps.rintisa.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>

</manifest>